# Dependency directories
**/node_modules/
**/jspm_packages/

# Build artifacts
**/dist/
**/build/
**/out/

# Environment variables (Sensitive!)
**/.env
**/.env.local
**/.env.*.local

# Logs
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/*.log

# IDE / System files
.vscode/
.idea/
.DS_Store
Thumbs.db

